<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="UTF-8" />
    <title>Administration Onboarding</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('back_app') }}
    {% endblock %}
</head>
<body>
{% include('web/back/_top.html.twig') %}
{% include('web/back/_sidebar.html.twig') %}

<div class="content">

    {% block header %}{% endblock %}

    {% block flash %}
        {% include 'web/back/_flash.html.twig' %}
    {% endblock %}

    {% block content %}{% endblock %}

    <div class="row footer" style="margin-top: 70px">
        <div class="col-md-6 text-left"></div>
        <div class="col-md-6 text-right">{{ 'app.common.brand'|trans }}</div>
    </div>
</div>

{#    <div class="loading"><img src="{{ asset('build/images/loading.gif') }}" alt="loading-img"></div>#}

{% block javascripts %}
    {{ encore_entry_script_tags('back_app') }}
{% endblock %}
</body>
</html>
