version: '3.7'

services:
    mariadb:
        build: docker/mariadb
        ports:
            - 3306:3306
        environment:
            MYSQL_DATABASE: symfony
            MYSQL_ROOT_PASSWORD: root
        volumes:
            - ./mariadb:/var/lib/mysql

    nginx:
        build: docker/nginx
        links:
            - php
        ports:
            - 80:80
        volumes:
            - ./symfony:/var/www
        environment:
            VIRTUAL_HOST: test-symfony.vlabs,*.test-symfony.vlabs

    php:
        build: docker/php
        hostname: console
        links:
            - mariadb
            - selenium-hub
        volumes:
            - ./symfony:/var/www
            - $SSH_AUTH_SOCK:/ssh-agent
        environment:
            - SSH_AUTH_SOCK=/ssh-agent
        working_dir: /var/www

    selenium-hub:
        image: selenium/hub:3.141.59-neon
        ports:
            - "4444:4444"

    chrome:
        image: selenium/node-chrome:3.141.59-neon
        volumes:
            - /dev/shm:/dev/shm
        depends_on:
            - selenium-hub
        environment:
            - HUB_HOST=selenium-hub
        links:
            - selenium-hub:hub
            - nginx:api.test-symfony.test
            - nginx:admin.test-symfony.test